In [1]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\manin\anaconda3\lib\site-packages (0.18.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
from scipy.sparse import csr_matrix
from fuzzywuzzy import process

C:\Users\manin\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
movies=pd.read_csv("C:/Users/manin/Desktop/unstop/movies.csv", usecols=['movieId', 'title'])
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [4]:
ratings=pd.read_csv("C:/Users/manin/Desktop/unstop/ratings.csv", usecols=['userId','movieId','rating'] )
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [5]:
ratings.shape, movies.shape

((100836, 3), (9742, 2))

In [6]:
movies_users=ratings.pivot(index='movieId', columns='userId', values='rating').fillna(0)
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [7]:
from scipy.sparse import csr_matrix

In [8]:
mat_movies = csr_matrix(movies_users.values)
mat_movies

<9724x610 sparse matrix of type '<class 'numpy.float64'>'
	with 100836 stored elements in Compressed Sparse Row format>

In [9]:
from sklearn.neighbors import NearestNeighbors 
model=NearestNeighbors(metric='cosine',algorithm='brute',n_neighbors=20)
model.fit(mat_movies)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [10]:
def recommender(movie_name,data,n):
    idx=process.extractOne(movie_name,movies['title'])[2]
    print('Movie Selected: ',movies['title'][idx],'Index: ',idx)
    print('Searching for recommondation...........')
    distance , indices=model.kneighbors(data[idx], n_neighbors=n)
    print(distance, indices)
    for i  in indices:
        print(movies['title'][i].where(i!=idx))

In [11]:
recommender('heat',mat_movies,10)

Movie Selected:  Heat (1995) Index:  5
Searching for recommondation...........
[[2.22044605e-16 4.77245221e-01 4.89322970e-01 5.02859723e-01
  5.07198065e-01 5.14081720e-01 5.21773308e-01 5.36073910e-01
  5.36497102e-01 5.38850839e-01]] [[  5 592  31 254  15 520 398  43  84 136]]
5                                                    NaN
592                                     Rock, The (1996)
31             Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
254    Léon: The Professional (a.k.a. The Professiona...
15                                         Casino (1995)
520                                         Fargo (1996)
398                                 Fugitive, The (1993)
43                           Seven (a.k.a. Se7en) (1995)
84                                   Broken Arrow (1996)
136                                     Desperado (1995)
Name: title, dtype: object

In [12]:
recommender('heat',mat_movies,10)

Movie Selected:  Heat (1995) Index:  5
Searching for recommondation...........
[[2.22044605e-16 4.77245221e-01 4.89322970e-01 5.02859723e-01
  5.07198065e-01 5.14081720e-01 5.21773308e-01 5.36073910e-01
  5.36497102e-01 5.38850839e-01]] [[  5 592  31 254  15 520 398  43  84 136]]
5                                                    NaN
592                                     Rock, The (1996)
31             Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
254    Léon: The Professional (a.k.a. The Professiona...
15                                         Casino (1995)
520                                         Fargo (1996)
398                                 Fugitive, The (1993)
43                           Seven (a.k.a. Se7en) (1995)
84                                   Broken Arrow (1996)
136                                     Desperado (1995)
Name: title, dtype: object

In [13]:
recommender('narnia',mat_movies,10)

Movie Selected:  Chronicles of Narnia: Prince Caspian, The (2008) Index:  6751
Searching for recommondation...........
[[0.         0.         0.         0.         0.10557281 0.16794971
  0.2        0.24742331 0.24742331 0.29289322]] [[8024 6751 7053 7974 8094 7821 7541 7501 7964 7705]]
8024                                     Flight (2012)
6751                                               NaN
7053                               Imagine That (2009)
7974                 Paradise Lost 3: Purgatory (2011)
8094                                       Tabu (2012)
7821                              Perfect Sense (2011)
7541                     Adjustment Bureau, The (2011)
7501                                  Yogi Bear (2010)
7964    6 Days to Air: The Making of South Park (2011)
7705                                       Gigi (1949)
Name: title, dtype: object